@import 'tailwindcss';

@theme inline {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-50: #f9f9f9;
  --color-gray-100: #bbc2c0;
  --color-gray-300: #939494;
  --color-green-100: #d8e9e4;
  --color-green-300: #2b5f44;
  --color-green-500: #243831;
  --color-success: #49a569;
  --color-surface: #f3f3f3;

  --radius-*: initial;
  --radius-2: 0.5rem;
  --radius-3: 0.75rem;
  --radius-8: 2.25rem;

  --text-3xl: 1.75rem;

  --spacing-43: 10.75rem;
  --spacing-70: 17.5rem;
  --spacing-75: 18.75rem;
  --spacing-90.5: 22.625rem;
  --spacing-158: 39.5rem;

  --font-castoro: var(--font-castoro);
  --font-ibm: var(--font-ibm);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
